/*
 * Copyright (C) 2023 Martin Riedl
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the Server Side Public License, version 1,
 * as published by MongoDB, Inc.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * Server Side Public License for more details.
 *
 * You should have received a copy of the Server Side Public License
 * along with this program. If not, see
 * <http://www.mongodb.com/licensing/server-side-public-license>.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl font-semibold my-4;
}

h2 {
    @apply text-2xl font-medium mt-4 mb-2;
}

.icon {
    font-size: 1em;
}

.severity-info {
    @apply text-blue-700;
}

.severity-warning {
    @apply text-yellow-700;
}

.severity-error {
    @apply text-red-700;
}