<!-- 
  Copyright (C) 2023 Martin Riedl

  This program is free software: you can redistribute it and/or modify
  it under the terms of the Server Side Public License, version 1,
  as published by MongoDB, Inc.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Server Side Public License for more details.

  You should have received a copy of the Server Side Public License
  along with this program. If not, see
  <http://www.mongodb.com/licensing/server-side-public-license>.
-->
<script setup lang="ts">
import { FlagTriangleRight } from 'lucide-vue-next';
import { computed } from 'vue';
import { formatDateTime } from '../../data/datetime';

const props = defineProps<{ incident: Incident }>();

const formattedStart = computed(() => {
  return formatDateTime(props.incident.start);
});
const formattedEnd = computed(() => {
  return formatDateTime(props.incident.end);
});
</script>

<template>
  <div>
    <div class="border-b flex flex-row items-end mb-2">
      <FlagTriangleRight class="flex-none icon" />
      <span class="grow text-xl font-semibold" :class="{
        'severity-info': incident.severity == 'info',
        'severity-warning': incident.severity == 'warning',
        'severity-error': incident.severity == 'error'
      }">{{ incident.title }}</span>
    </div>
    <div class="flex flex-row gap-x-4">
      <span><b>Status:</b> {{ incident.status }}</span>
      <span><b>Start:</b> {{ formattedStart }}</span>
      <span v-if="incident.end"><b>End:</b> {{ formattedEnd }}</span>
    </div>
    <div>{{ incident.description }}</div>
  </div>
</template>
